p { 
    font-weight: bold;
}
    button,

    
    input {
      margin: 10px;
    }
    
h1{
    text-align: center;
    color: white;
}
body {
    background-image: url("https://developers.giphy.com/static/img/api.c99e353f761d.gif");
    background-color: #cccccc;
 }
 .sticky-bottom{
    position: relative
 }
 